%table{:summary => "Subject form fields"}
 %tr
  %th Name
  %td= f.text_field(:name)
  %tr
   %th Position
  %td= f.select(:position, 1..@subject_count)
  %tr
   %th Visible
   %td= f.check_box(:visible)
