= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link')
.subject.edit
  %h2 Update Subject
  = form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f|
    =render(:partial => "shared/form", :locals => {:f => f})
    .form-buttons
      = submit_tag("Update Subject")
