=link_to("<< Back to List", {:action => 'list'}, :class => 'back-link')
.subject.new
 %h2 Create Subject
 =form_for(:subject, :url => {:action => 'create'}) do |f|
  =render(:partial => "shared/form", :locals => {:f => f})
  = submit_tag("Create Subject")
